.container {
  max-height: 50vh;
  text-align: right;
}

#artifactCanvas {
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 28vh;
  right: 60vw;
  display: flex;
  position: absolute;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  /* box-shadow: 2px 0 0 #000; */
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

}




*::selection {
  background:transparent;
}

.link {
  text-align: left;
}

.div-block {
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.columns {
  margin-top: 20px;
}

.body {
  background-color: #fff;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 15px 0px 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background-color: #fff;
}


.container-2 {
  position: static;
  display: block;
  margin-top: 78px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.main-heading {
  margin-top: 6vh;
  margin-bottom: 0px;
  border-top: 0px solid #000;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  color: #000;
  font-size: 50px;
  line-height: 60px;
  font-weight: 300;
  text-shadow: none;
}

.main-heading.space_above {
  margin-top: 130px;
}

.columns-2 {
  margin-top: 18px;
}

.paragraph {
  width: 50%;
  margin-top: 7px;
  margin-left: 12px;
  padding: 20px;
  border: 1px solid #000;
  box-shadow: 6px 6px 10px -5px rgba(0, 0, 0, 0.2);
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  font-size: 22px;
  line-height: 30px;
}

.paragraph.p2 {
  margin-top: 71px;
  padding-right: 29px;
  padding-left: 0px;
}

.columns-3 {
  border-top: 0px solid #000;
}

.div-block-2 {
  position: fixed;
  left: auto;
  top: 81%;
  right: 4%;
  bottom: auto;
  width: 85px;
  min-height: 85px;
  min-width: 85px;
  float: right;
  border-radius: 1100px;
  background-color: #1500ff;
  text-align: left;
}

.image {
  position: relative;
  margin-top: 104px;
  margin-left: 22px;
  padding-top: 0px;
  padding-left: 0px;
  float: right;
}

.image._2 {
  float: left;
}

.column {
  padding-right: 52px;
}

.text-block {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  direction: ltr;
}

.letter {
  position: absolute;
  left: auto;
  right: auto;
  width: 70px;
  padding-bottom: 225px;
  font-family: Oswald, sans-serif;
  font-size: 70px;
  line-height: 76px;
  text-align: center;
  text-transform: uppercase;
}

.letter.r-l {
  width: 1px;
  padding-bottom: 0px;
  -webkit-transform: rotate(103deg);
  -ms-transform: rotate(103deg);
  transform: rotate(103deg);
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.navbar-3 {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 50;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 8%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  background-color: transparent;
}

.nav-guide {
  position: fixed;
  left: 5%;
  right: auto;
  bottom: auto;
  z-index: 3;
  width: 1px;
  height: 100%;
  background-color: #ccc;
}

.link-2 {
  z-index: 9999;
  padding: 20px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #000;
  font-size: 36px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.link-2:hover {
  color: #eb4747;
}

.close-button {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: none;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.branding {
  position: fixed;
  left: 5%;
  display: none;
  width: 60px;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.link-block.delay {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  -webkit-transform: rotate(91deg);
  -ms-transform: rotate(91deg);
  transform: rotate(91deg);
}

.nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 23px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #000;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}

.nav-link.side-nav-link {
  width: 0px;
  min-width: 255px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.navbar-4 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  z-index: 50;
  width: 5%;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.nav-link-2 {
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  font-size: 18px;
}

.nav-link-3 {
  margin-bottom: 0px;
  margin-left: 11px;
  padding: 40px 20px 0px;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  color: #000;
  font-size: 18px;
  font-style: normal;
  text-decoration: none;
}

.nav-link-3:hover {
  color: #0015ff;
}

.nav-link-3.w--current {
  color: #0015ff;
  text-align: center;
  text-decoration: none;
}

.div-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 98%;
  margin: 10vh 0px 43px;
  padding-right: 15%;
  padding-bottom: 0vh;
  padding-left: 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.div-heading-threejs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70vh;
  margin: 27vh 0px 0px;
  padding-right: 8%;
  padding-bottom: 0vh;
  padding-left: 42%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: right;
  -webkit-justify-content: right;
  -ms-flex-pack: right;
  justify-content: right;
  -webkit-box-align: right;
  -webkit-align-items: right;
  -ms-flex-align: right;
  align-items: right;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: start;
  align-self: flex-end;
}
.intro-main {
  font-size: 45px;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  line-height: 52px;
  margin-bottom: 40px;
  max-width: 600px;
  color: #000;
}

.intro-hint {
  font-family:'Founders Grotesk regular webfont', sans-serif;
  font-size: 18px;
  font-style: italic;
  color: #000;

}

/* .div-heading-threejs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  margin: 80vh 0px 43px;
  padding-right: 15%;
  padding-bottom: 0vh;
  padding-left: 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
} */

.div-block-4 {
  height: auto;
}

.div-full-page {
  height: auto;
}

.list {
  text-align: left;
}

.link-3 {
  margin-bottom: 36px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  color: #000;
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
}

.link-3:hover {
  color: #0015ff;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-right: 90px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: center;
}

.heading-2 {
  width: 50%;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  padding-top: 74px;
  padding-left: 34px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.image-4 {
  position: relative;
  top: 0px;
  z-index: -4;
  width: 70%;
  padding-left: 0px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.heading-3 {
  position: static;
  left: 0px;
  top: -60px;
  right: 0px;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 35px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  opacity: 1;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  color: #000;
  font-size: 90px;
  line-height: 70px;
  font-weight: 700;
  text-align: left;
}

.willowtree {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 260px;
  margin-top: 45px;
  margin-left: 13px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-left: 1px solid #000;
}

.image-5 {
  position: relative;
  left: 0px;
  top: 101px;
  z-index: -4;
  width: auto;
  max-width: 60%;
  min-width: 30%;
  clear: left;
  -webkit-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  transform: rotate(6deg);
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  height: auto;
  max-height: 20vh;
  min-height: 10vh;
  margin-top: 0vh;
  padding-top: 0vh;
  padding-right: 15%;
  padding-left: 15%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.div-block-8 {
  display: block;
  width: 90%;
  margin-top: 55px;
}

.image-6 {
  position: relative;
  z-index: -4;
  width: 90%;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.paragraph-2 {
  width: 90%;
  padding-left: 88px;
  text-align: left;
}

.div-block-9 {
  width: 200px;
  height: 20px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-top: 1px solid #000;
  border-bottom: 1px none #000;
}

.div-block-10 {
  width: 80%;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.paragraph-3 {
  width: 90%;
  margin-top: 68px;
  padding-left: 86px;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  text-align: left;
}

.div-block-11 {
  width: 30%;
  padding-left: 86px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  border-bottom: 1px solid #000;
}

.heading-4 {
  margin-top: 6px;
  padding-left: 36px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  color: #000;
  text-align: left;
}

.div-block-12 {
  position: relative;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.div-block-13 {
  width: 90%;
}

.category {
  width: auto;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-top: 30px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: 'Founders Grotesk light webfont', sans-serif;
  color: #606060;
  font-size: 18px;
  text-align: center;
}

.paragraph-4 {
  width: 40%;
  margin-top: 62px;
  padding-right: 0px;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  font-size: 16px;
}

.paragraph-5 {
  width: 40%;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  font-size: 16px;
}

.image-7 {
  width: auto;
  height: auto;
  max-height: 70vh;
  min-height: 40vh;
}

.div-block-14 {
  display: block;
  width: 95%;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.heading-5 {
  margin-top: 0px;
  margin-bottom: 43px;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  color: #000;
  font-size: 50px;
  line-height: 48px;
  text-align: center;
}

.heading-5:hover {
  color: #0015ff;
}

.paragraph-6 {
  width: auto;
  margin-bottom: 0px;
  padding-left: 5px;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  font-size: 20px;
}

.paragraph-7 {
  margin-bottom: 0px;
  font-size: 20px;
}

.paragraph-8 {
  padding-top: 0px;
  padding-left: 5px;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 26px;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  height: 15vh;
  padding: 19px 15% 68px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-17 {
  height: 30vh;
}

.heading-6 {
  margin-bottom: 0px;
  text-decoration: none;
}

.link-block-2 {
  text-decoration: none;
}

.paragraph-9 {
  margin-top: 22px;
  margin-bottom: 90px;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 28px;
}

.image-8 {
  width: 100%;
  height: auto;
}

.link-back-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: center;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.spacer-120 {
  height: 120px;
}
.spacer-60 {
  height: 60px;
}
.spacer-15 {
  height: 15px;
}
.spacer-30 {
  height: 30px;
}

.heading-7 {
  width: 40%;
  margin-top: 0px;
  padding-left: 15%;
  text-align: left;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  font-size: 26px;
  color: #000;
  line-height: normal;

}

.four-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

.four-image {
  width: 24%;
  margin-left: 1%;
  height: auto;
}


.four-quote {
  width: 50%;
  margin-left: 1%;
  margin-right: 1%;
  height: auto;
  text-align: center;
}

.two-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 13%;
  padding-right: 13%;
}

.two-image {
  width: 44%;
  height: auto;
}

.two-quote {
  width: 100%;
  text-align: center;
  width: 100%;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  color: #6B6B6B;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 0px;
}




/* .div-block-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e9eaef;
} */


.text-wrapper {
  width: 60%;
  padding-top: 0px;
  padding-right: 12%;
}


.paragraph-bigger {
  width: 100%;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0px;
}
.two-text{
  width: 80%;
  height: auto;
}

.paragraph-bigger-bold {
  width: 100%;
  font-family: 'Founders Grotesk medium webfont', sans-serif;
  color: #000;
  font-size: 20px;
  line-height: normal;
  letter-spacing: .3px;
}

li {
  width: 100%;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  color: #000;
  font-size: 18px;
  margin-bottom: 0px;
  padding-bottom: 14px;
  /* list-style-position: inside;
  padding-left: 0; */
}

ul {
  /* list-style-position: inside; */
  padding-left: 0;

}

.paragraph-10 {
  width: 100%;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 0px;
}


.div-block-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.div-block-quote {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 66px;
  margin-bottom: 66px;
  padding-right: 20%;
  padding-left: 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-8 {
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 0px;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  color: #000;
  font-size: 40px;
  line-height: 46px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.paragraph-11 {
  width: 65%;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  color: #000;
}

.div-block-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 0px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.div-block-22 {
  width: 16%;
  margin-left: 42%;
  margin-right: 42%;
  border-top: 1.5px none #707070;
  border-bottom: 2px solid #D2D3D8;
}

.image-9 {
  width: 30%;
  padding-bottom: 8px;
}

.image-10 {
  width: 30%;
  padding-bottom: 2px;
}

.image-11 {
  width: 35%;
}

.paragraph-12 {
  width: 25%;
  margin-bottom: 0px;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  font-size: 14px;
  text-align: center;
}

.paragraph-13 {
  width: 30%;
  margin-bottom: 0px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  font-size: 14px;
  text-align: center;
}

.paragraph-14 {
  width: 30%;
}

.div-block-23 {
  height: 40px;
}

.div-block-24 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.div-heading-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0vh 0px 0px;
  padding-bottom: 30px;
  padding-right: 5%;
  padding-left: 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.link-back {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0vh 0px 0px;
  padding-right: 15%;
  padding-bottom: 0vh;
  padding-left: 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.div-content-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0vh 0px 0px;
  padding-bottom: 30px;
  padding-right: 5%;
  padding-left: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.div-intro-heading {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.div-intro-image {
  width: 80%;

}

.div-intro-text {
  width: 20%;
  padding-top: 10px;
  padding-left: 60px;
  font-size: 16px;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  font-weight: 300;
  color: #000;
  line-height: 20px;
}

.intro-text-spacing {
    padding-bottom: 12px;
}

.intro-text-grey {
  color: #515151;
  font-size: 13px;
  line-height: 8px;
  padding-bottom: 0px;
}



.div-block-22-copy {
  width: 20%;
  height: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 1px solid #bbb;
  border-bottom: 1px none #bbb;
}

.div-block-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e9eaef;
}

.div-block-25.grey {
  background-color: #dfdfdf;
}

.div-block-25.anothergrey {
  margin-top: 5vh;
  margin-bottom: 5vh;
  background-color: #e3e5ea;
}

.div-block-25.two {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #fff;
}

.div-block-25.anothergrey-copy {
  margin-top: 5vh;
  margin-bottom: 5vh;
  background-color: #e7eaef;
}

.div-block-26 {
  height: 15vh;
}

.div-block-27 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-12 {
  overflow: hidden;
  width: 17%;
}

.image-13 {
  width: 18%;
}

.image-14 {
  width: 18%;
}

.image-15 {
  width: 18%;
}

.image-16 {
  width: 18%;
}

.image-17 {
  width: 70%;
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1.5px none #000;
}

.image-18 {
  width: 30%;
}

.image-19 {
  width: 16%;
}

.image-12-copy {
  overflow: hidden;
  width: 17%;
  padding-right: 4px;
}

.div-block-28 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-20 {
  width: 80%;
}


.div-block-18-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.image-8-copy {
  width: 45%;
  height: auto;
}

.div-block-25-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.div-block-25-copy.grey {
  background-color: #dfdfdf;
}

.div-block-25-copy.anothergrey {
  margin-top: 5vh;
  margin-bottom: 5vh;
  background-color: #e3e5ea;
}

.div-block-25-copy.two {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #fff;
}

.div-block-25-copy.blue {
  background-color: #f4f8fb;
}

.div-block-25-copy.greyy {
  background-color: #e6e6e6;
}

.div-block-29 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.heading-9 {
  display: block;
  width: 45%;
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  font-size: 30px;
  line-height: 6px;
  text-align: center;
}

.link-block-3 {
  text-decoration: none;
}

.div-block-30 {
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.div-block-31 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  max-height: 70vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #004cff;
}

.lottie-animation {
  width: 20%;
}

.div-block-25-copy-longer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.div-block-25-copy-longer.grey {
  background-color: #dfdfdf;
}

.div-block-25-copy-longer.anothergrey {
  margin-top: 5vh;
  margin-bottom: 5vh;
  background-color: #e3e5ea;
}

.div-block-25-copy-longer.two {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #fff;
}

.div-block-25-copy-longer.blue {
  background-color: #f4f8fb;
}

.div-block-25-copy-longer.greyy {
  background-color: #e6e6e6;
}

.image-8-longer {
  width: 70%;
  height: auto;
}

.div-heading-92 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  margin: 0vh 0px 0px;
  padding-right: 15%;
  padding-bottom: 0vh;
  padding-left: 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.image-8-copy {
  width: auto;
  height: auto;
}

.paragraph-9-copy {
  margin-top: 22px;
  margin-bottom: 90px;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 26px;
}

.heading-9-copy {
  display: none;
  width: 55%;
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  font-size: 30px;
  line-height: 6px;
  text-align: center;
}

.heading-9-invisible {
  display: block;
  width: 45%;
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  font-size: 30px;
  line-height: 6px;
  text-align: center;
}

.heading-9-copy-copy {
  display: block;
  width: 55%;
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  font-size: 30px;
  line-height: 6px;
  text-align: center;
}

.div-block-32 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15vh;
  padding-left: 15%;
}

.main-heading-ab-me {
  width: auto;
  margin-top: 0vh;
  margin-bottom: 38px;
  border-top: 0px solid #000;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  color: #000;
  font-size: 50px;
  line-height: 70px;
  /* font-weight: 700; */
  text-shadow: none;
}

.main-heading-ab-me.space_above {
  margin-top: 130px;
}

.div-block-33 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 15%;
  padding-left: 15%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.image-21 {
  position: static;
  width: 100%;
  height: auto;
}

.paragraph-8-ab-me {
  width: 100%;
  margin-bottom: 5vh;
  padding-top: 0px;
  padding-right: 37px;
  padding-left: 5px;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 28px;
}

.div-block-34 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-35 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin-bottom: 15vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-36 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 60px;
  margin-bottom: 0vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 30px;
  background-color: #0015ff;
}

.text-block-2 {
  width: auto;
  height: auto;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  color: #fff;
  font-size: 20px;
  padding-top: 8px;font
}

.link-block-4 {
  text-decoration: none;
}

.container-3 {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.menu-button {
  display: none;
}

.text-block-3 {
  margin-top: 20px;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  color: #000;
  font-size: 22px;
}

.div-block-37 {
  padding-right: 8%;
  padding-left: 60px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.link-block-5 {
  text-decoration: none;
}

.back-to-home {
  width: auto;
  margin-top: 0px;
  padding-right: 38px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  border-style: none;
  border-width: 1px;
  border-color: #000;
  font-family: 'Founders Grotesk regular webfont', sans-serif;
  font-size: 18px;
  color: #000;
  line-height: 40px;
  text-align: left;
}

.back-to-home:hover {
  color: #0015ff;
}

.html-embed {
  width: 400px;
}

@media (max-width: 991px) {
  .navbar {
    height: 50px;
    padding: 14px 0px 0px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    background-color: #fff;
  }
  .main-heading {
    margin-top: 10vh;
    font-size: 45px;
  }
  .navbar-3 {
    display: none;
  }
  .nav-guide {
    display: none;
  }
  .link-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 50px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 77px;
    background-color: #fff;
    font-size: 21px;
  }
  .nav-link-3 {
    padding: 0px;
    float: right;
  }
  .div-heading {
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
  }
  .div-block-7 {
    width: 100%;
    height: 0vh;
  }
  .div-block-14 {
    height: 100%;
  }
  .heading-5 {
    font-size: 45px;
  }
  .paragraph-8 {
    font-size: 18px;
  }
  .div-block-16 {
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
  }
  .nav-menu-2 {
    position: static;
    display: none;
  }
  .image-8 {
    height: auto;
  }

  .div-block-quote {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .div-heading-2 {
    width: 100%;
    padding-right: 5%;
    padding-left: 40%;
  }
  .div-block-25.grey {
    height: auto;
  }
  .div-block-25.anothergrey {
    height: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  .div-block-25.anothergrey-copy {
    height: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  .div-block-25-copy {
    height: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  .div-heading-92 {
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
  }
  .image-8-copy {
    height: auto;
    margin-top: 69px;
  }
  .paragraph-9-copy {
    margin-bottom: 0px;
  }
  .div-block-32 {
    padding-left: 10%;
  }
  .main-heading-ab-me {
    margin-top: 10vh;
    font-size: 45px;
  }
  .div-block-33 {
    padding-right: 10%;
    padding-left: 10%;
  }
  .paragraph-8-ab-me {
    font-size: 18px;
  }
  .menu-button {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .text-block-3 {
    height: 100%;
  }
  .brand {
    display: block;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #000;
  }
  .icon {
    color: #000;
  }
}

@media (max-width: 767px) {
  .main-heading {
    font-size: 30px;
    line-height: 38px;
  }
  .navbar-4 {
    display: none;
  }
  .div-block-7 {
    display: none;
  }
  .div-block-16 {
    display: none;
  }
  .div-block-26 {
    display: none;
  }
  .heading-9 {
    display: none;
  }
  .main-heading-ab-me {
    font-size: 30px;
    line-height: 38px;
  }
  .text-block-3 {
    font-size: 28px;
  }
  .icon {
    font-family: 'Founders Grotesk regular webfont', sans-serif;
    font-size: 30px;
    line-height: 20px;
  }
}

@media (max-width: 479px) {
  .section {
    height: auto;
  }
  .navbar {
    display: block;
    height: auto;
    padding-top: 0px;
  }
  .main-heading {
    margin-top: 0vh;
    font-size: 28px;
    line-height: 38px;
  }
  .main-heading.space_above {
    margin-top: 83px;
    line-height: 34px;
  }
  .link-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 24px;
  }
  .nav-link-3 {
    padding: 10px 20px;
  }
  .nav-link-3.w--current {
    padding: 10px 20px;
  }
  .div-heading {
    margin-top: 5vh;
    padding-right: 5%;
    padding-left: 5%;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .div-block-4 {
    height: auto;
  }
  .div-block-7 {
    display: none;
    padding-right: 5%;
    padding-bottom: 5px;
    padding-left: 5%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .category {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 0px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    line-height: 12px;
    font-weight: 400;
  }


  .image-7 {
    min-height: 10vh;
  }
  .heading-5 {
    margin-bottom: 0px;
    padding-top: 0px;
    font-size: 25px;
    font-weight: regular;
    line-height: 12px;
  }
  .paragraph-8 {
    font-size: 14px;
    line-height: 16px;
  }
  .div-block-16 {
    display: none;
    height: auto;
    padding: 10px 5% 0px;
  }
  .div-block-17 {
    height: 15vh;
  }
  .nav-menu-2 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
  }
  .paragraph-9 {
    margin-bottom: 54px;
    color: #000;
  }
  .div-block-18 {
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .heading-7 {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 34px;
  }
  .paragraph-10 {
    width: 100%;
    color: #000;
    font-size: 18px;
  }
  .div-block-quote {
    padding-right: 5%;
    padding-left: 5%;
  }
  .heading-8 {
    font-size: 24px;
    line-height: 34px;
  }
  .div-block-21 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .image-9 {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .image-10 {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .image-11 {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .div-block-24 {
    display: none;
  }
  .div-heading-2 {
    padding-right: 5%;
    padding-left: 5%;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .div-block-26 {
    display: none;
    height: 5vh;
  }
  .heading-7-copy {
    width: 28%;
  }
  .div-block-29 {
    display: none;
  }
  .div-heading-92 {
    padding-right: 5%;
    padding-left: 5%;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .image-8-copy {
    margin-top: 0px;
  }
  .paragraph-9-copy {
    color: #000;
    font-size: 18px;
    line-height: 27px;
  }
  .div-block-32 {
    margin-top: 0vh;
  }
  .main-heading-ab-me {
    margin-top: 5vh;
    font-size: 28px;
    line-height: 38px;
  }
  .main-heading-ab-me.space_above {
    line-height: 34px;
  }
  .paragraph-8-ab-me {
    margin-bottom: 5vh;
    padding-right: 0px;
    font-size: 14px;
    line-height: 16px;
  }
  .new_line_height {
    line-height: 14px;
  }
  .div-block-34 {
    display: none;
  }
  .div-block-35 {
    width: 100%;
  }
  .div-block-36 {
    width: 265px;
    height: 56px;
  }
  .menu-button {
    display: block;
  }
  .menu-button.w--open {
    background-color: #fff;
  }
  .div-block-37 {
    padding-right: 0px;
  }
  .brand {
    display: none;
  }
  .back-to-home {
    width: auto;
    font-size: 18px;
    line-height: 34px;
  }
  .html-embed {
    width: auto;
  }
}

@font-face {
  font-family: 'Founders Grotesk regular webfont';
  src: url('../fonts/FoundersGrotesk-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Founders Grotesk medium webfont';
  src: url('../fonts/FoundersGrotesk-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Founders Grotesk light webfont';
  src: url('../fonts/FoundersGrotesk-Light.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
